/* most of the css is in style 
##############################*/

 /* hover effect for  color in the the  */
  input[type="text"]:hover {
    background-color: lightgrey;
    box-shadow: 0 0 2 spx 0;
  }
  input[type="password"]:hover {
    background-color: lightgrey;
    box-shadow: 0 0 2 spx 0;
  }
  input[type="search"]:hover {
    background-color: lightgrey;
    box-shadow: 0 0 2 spx 0;
  }


  
 
  
  
   
  
  
  
 


